<head>
    <title>Hospital</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<section class="about" id ="about">
    <h1 class="heading"><span>About</span> us </h1>
    <class class="row">
        <div class="image">
            <img src="vecteezy_medical-center-hospital-building-vector-design_.jpg" alt="">
        </div>
        <div class="content"> 
            <h3>we take care of your healthy life</h3>
            <p>Welcome to Our Hospital!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut tortor facilisis, condimentum sapien sed, aliquam nisi. Phasellus lobortis sapien vel urna mollis, eu tempor nunc mollis.</p>
            <p>Our hospital is committed to providing high-quality healthcare services to our patients. With a dedicated team of skilled medical professionals and state-of-the-art facilities, we strive to deliver excellent care and ensure the well-being of our community.</p>
            <p>At Our Hospital, we prioritize patient safety, comfort, and satisfaction. We offer a wide range of medical services, including specialized treatments, advanced diagnostics, and emergency care.</p>
            <p>Our experienced and compassionate staff is here to assist you and address your healthcare needs. We are dedicated to delivering personalized and comprehensive care to each patient.</p>
            <p>Thank you for choosing Our Hospital for your healthcare needs. We look forward to serving you and providing the best possible medical care.</p>
        </div>
    </class>
</section>