
{% load static %}

<div style="color:blue;margin-top:100px;" align="center" class="alert alert-primary" role="alert">
    {% if messages %}
        {% for msg in messages %}
                {{ msg }}
        {% endfor %}
    {% endif %}
</div>

<center>

    <h1>Create Reciept</h1>
    <form method="post" action="{% url 'add_reciept' %}" enctype="multipart/form-data">
        {% csrf_token %}
    

        <div style="display:flex;justify-content: center;">
            Appointments
            <select name="appointment" required>
                {% for i in ap %}
                    <option value="{{i.id}}">[{{i.id}}]{{ i.Patient_name.capitalize}}</option>
                {% endfor %}
            </select>
        </div><br>
        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount" required><br><br>

        <input type="submit" value="Create Reciept">
    </form>
        
    </center>

    


