{% load static %}
<div style="color:blue;margin-top:100px;" align="center" class="alert alert-primary" role="alert">
    {% if messages %}
        {% for msg in messages %}
                {{ msg }}
        {% endfor %}
    {% endif %}
</div>
<center>

<h1>Create Specialization</h1>
<form method="post" action="{% url 'add_specialization' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>

    
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required><br><br>


    <label for="icon">Icon:</label>
    <input type="text" id="icon" name="icon" required><br>


    IMAGE: 
    <input type="file" value="Upload new image" name="imgg1" required><br><br>

    <input type="submit" value="Create Specialization\">
</form>
    
</center>
