{% autoescape off %}
Dear {{name}},

Thank you for scheduling an appointment with Medcare. We are pleased to confirm your appointment details as follows:

Appointment Details:

Date: {{datetime}}
Time: {{slot}}
Doctor: {{doctor}}
Specialization: {{specialization}}
Appointment ID: {{id}}
Location:
Medcare
Malappuram
Karipur,673638

For any inquiries or changes, please contact us at:
Contact Information:

Phone: 9633754327
Email: medcare@gmail.com


We kindly request that you arrive at least 15 minutes before the scheduled appointment time. If you need to reschedule or cancel the appointment, please notify us at least 24 hours in advance.

Thank you for choosing Medcare. We look forward to seeing you at your appointment.



{% endautoescape %} 